@model ProjetoFinalWeb.Models.FilmesModel

@{
    var poster = @Html.DisplayFor(modelModel => Model.Poster);
    var response = @Html.DisplayFor(modelModel => Model.Response);
}

<div class="modal-detalhes"></div>


@if (poster.ToString() == "N/A")
{
    <li class="filmes_itens" style="background-image: url(http://compareagora.com/assets/imagens/outras/imgindisponivel.jpg);">
        <span class="text_image"><p>@Html.DisplayFor(modelModel => Model.Title)</p></span>
        <div class="link_filmes">
            <a href="" data-toggle="modal" data-target="#@Model.imdbID">Ver Detalhes</a>
        </div>
    </li>
}
else
{
    <li class="filmes_itens" style="background-image:url(@Html.DisplayFor(modelModel => Model.Poster));">
        <span class="text_image"><p>@Html.DisplayFor(modelModel => Model.Title)</p></span>
        <div class="link_filmes">
            <a href="" onclick="abrirDetalhes('@Model.Title')" data-toggle="modal" data-target="#@Model.imdbID">Ver Detalhes</a>
        </div>
    </li>

}

<script>
    function abrirDetalhes(title) {

        $.ajax({
            method: 'post',
            url: '/Filmes/TodosDetalhes',
            data: 'nome='+title,
            success: function (data) {
                $('.modal-detalhes').html(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>