@model ProjetoFinalWeb.Models.FilmesModel
@using ProjetoFinalWeb.Models
@using Microsoft.AspNet.Identity

@{
    var poster = @Html.DisplayFor(modelModel => Model.Poster);
    var response = @Html.DisplayFor(modelModel => Model.Response);
    var path = Url.Content("~/Content/FilmeImages");

    var urlPoster = poster.ToString() == "N/A" ? @Url.Content("~/Content/imgindisponivel.jpg") : string.Format("{0}/{1}.jpg", path, Model.imdbID);
}

<div class="modal-detalhes"></div>
<script src="~/Scripts/playlist.js"></script>
@{

    <li class="filmes_itens" style="background-image: url('@urlPoster')">
        <span class="text_image"><p>@Html.DisplayFor(modelModel => Model.Title)</p></span>
        <div class="link_filmes">
            <div class="filme_detalhe">
                <a href="" onclick="abrirDetalhes('@Model.Title')" data-toggle="modal" title="Ver detalhes" data-target="#@Model.imdbID"><i class="fa fa-info" aria-hidden="true"></i></a>
            </div>
            
            @if (Request.IsAuthenticated)
            {
                <div class="dropdown">
                    <button title="Adicionar a playlist" class="dropbtn"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <div id="myDropdown" class="dropdown-content">

                        @using (var contexto = new ApplicationDbContext())
                        {
                            var Email = User.Identity.GetUserName();
                            var pessoas = contexto.Users.First(lambda => lambda.Email == Email);

                            // #Ver depois pro mentor não reclamar <3 LINQ
                            var lista = contexto.Playlists.Where(lambda => lambda.UsuarioId == pessoas.Id || lambda.Titulo == "Ver depois").ToList();

                            foreach (var item in lista)
                            {
                                <a href="" onclick="AdicionarNaPlaylist(@Json.Encode(Model.Title),'@item.PlayListId','@Model.imdbID')" data-toggle="modal" data-target="#@Model.imdbID">@item.Titulo</a>
                            }
                        }

                    </div>
                </div>
            }
        </div>
    </li>
}