@model ProjetoFinalWeb.Models.FilmesModel
@using ProjetoFinalWeb.Models
@using Microsoft.AspNet.Identity

@{
    var poster = @Html.DisplayFor(modelModel => Model.Poster);
    var response = @Html.DisplayFor(modelModel => Model.Response);

    var path = Url.Content("~/Content/FilmeImages");

    var urlPoster = poster.ToString() == "N/A" ? @Url.Content("~/Content/imgindisponivel.jpg") : string.Format("{0}/{1}.jpg", path, Model.imdbID);
}

<div class="modal fade" id='@Model.imdbID' role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">@Html.DisplayFor(modelModel => Model.Title)</h2>
                @if (Request.IsAuthenticated)
                {
                    <div class="dropdown">
                        <button class="dropbtn" title="Adicionar a playlist"><i class="fa fa-plus" aria-hidden="true"></i>Adicionar a playlist</button>
                        <div id="myDropdown" class="dropdown-content">
                            @{
                                using (var contexto = new ApplicationDbContext())
                                {
                                    var Email = User.Identity.GetUserName();
                                    var pessoas = contexto.Users.First(lambda => lambda.Email == Email);

                                    // #Ver depois pro mentor não reclamar <3 LINQ
                                    var lista = contexto.Playlists.Where(lambda => lambda.UsuarioId == pessoas.Id || lambda.Titulo == "Ver depois").ToList();

                                    foreach (var item in lista)
                                    {

                                        <a href="" onclick="AdicionarNaPlaylist('@Model.Title','@item.PlayListId','@Model.imdbID')" data-toggle="modal" data-target="#@Model.imdbID">@item.Titulo</a>

                                    }
                                }
                            }

                        </div>
                    </div>
                                }
            </div>
            <div class="modal-body">
                <div style="width: 75%; float: left;">
                    <p><strong>Ano</strong>   : @Html.DisplayFor(modelModel => Model.Year)</p>
                    <p><strong>imdbID</strong>: @Html.DisplayFor(modelModel => Model.imdbID)</p>
                    <p><strong>Tipo</strong>  : @Html.DisplayFor(modelModel => Model.Type)</p>
                    <p><strong>Lançamento</strong>  : @Html.DisplayFor(modelModel => Model.Released)</p>
                    <p><strong>Runtime</strong>  : @Html.DisplayFor(modelModel => Model.Runtime)</p>
                    <p><strong>Diretor</strong>  : @Html.DisplayFor(modelModel => Model.Director)</p>
                    <p><strong>Escritores</strong>  : @Html.DisplayFor(modelModel => Model.Writer)</p>
                    <p><strong>Elenco</strong>  : @Html.DisplayFor(modelModel => Model.Actors)</p>
                    <p><strong>Plot</strong>  : @Html.DisplayFor(modelModel => Model.Plot)</p>

                </div>

                <div>
                    <p><img src='@urlPoster' style="float: right; width: 20%;" /></p>
                </div>

                <div style="clear: both;"></div>
            </div>
            <div class="modal-footer">


                <button type="button" title="Fechar" class="closedbutton" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#' + '@Model.imdbID').modal('show');
</script>