@model ProjetoFinalWeb.Models.PlaylistModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Playlists</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

    </dl>
</div>

<div id="exibirFilmesPlaylist"></div>

<p>
    @Html.ActionLink("Voltar para Lista", "Index")
</p>

<script>
    $.ajax({
        method: 'post',
        url: '/Filmes/ExibirFilmesPlaylist/' + '@Model.PlayListId',
        success: function (data) {
            $('#exibirFilmesPlaylist').html(data);
        },
        error: function (err) {
            console.log(err);
        }
    });
</script>